<div class="position-absolute" id="contextmenu" style="display: none;">

    <div class="card rounded-1 shadow-none border-primary border-2" style="width:12rem;">
        <div class="c-menu-item d-flex align-items-center py-2 px-1" role="button">
            <span class="menu-icon me-2"><i class="mdi mdi-eye me-1"></i></span>
            <span class="menu-name">View</span>
        </div>

        <div class="c-menu-item d-flex align-items-center py-2 px-1 share_document" role="button">
            <span class="menu-icon me-2"><i class="mdi mdi-share-variant me-1"></i></span>
            <span class="menu-name">Share</span>
        </div>

        <div class="c-menu-item d-flex align-items-center py-2 px-1 download_document" role="button">
            <span class="menu-icon me-2"><i class="mdi mdi-cloud-download me-1"></i></span>
            <span class="menu-name">Download</span>
        </div>

        <div class="c-menu-item d-flex align-items-center py-2 px-1" role="button">
            <span class="menu-icon me-2"><i class="mdi mdi-home me-1"></i></span>
            <span class="menu-name">Make Offline</span>
        </div>

        <div class="c-menu-item d-flex align-items-center py-2 px-1 context_starred" role="button">
            <span class="menu-icon me-2"><i class="mdi mdi-star me-1"></i></span>
            <span class="menu-name">Starred</span>
        </div>

    </div>

</div>